# Compiled Object files
*.slo
*.lo
*.o
*.symvers
*.order
# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
